@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family:"Montserrat", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.3)), url("IMAGES/beach.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.relax{
color: white;
text-transform: uppercase;
font-size: 48px;

}
.new{
    color: white;
    font-size: 24px;
    /* padding-top: 10px; */
}
.bb {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}
.cta-btn1 {
    background:rgb(6, 70, 102);
    padding: 15px;
    border:  none;
    width: 200px;
}
.cta-btn1 a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.cta-btn2 {
    background: #fff;
    padding: 15px;
    width: 200px;
    border: none;
}
.cta-btn2 a {
   color: rgb(6, 70, 102);
    font-weight: 700;
    text-decoration: none;
}
.design{
    padding: 80px;
    text-align: center;
}
button{
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   font-size: 20px;
   text-transform: uppercase;
   background-color: rgb(6, 70, 102);
   color: white;
   border: none;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
gap: 40px;
margin: 80px;
/* padding: 20px; */
text-align: center;
}
.ula{
    font-size: 35px;
    color:rgb(6, 70, 102)
}
.old{
    font-size: 30px;
    align-items: center;
    line-height: 2.0;
}
.oli{
    font-size: 20px;
}
.third{
    display: flex;
 
    justify-content: space-evenly;
}
/* .two{
    display:flex;
    flex-direction: column;
    width: auto;
} */
.image1{
    height: 470px;
    width: 370px;
    border-radius: 17px;
}
.image1:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    filter: sepia(30%);

}
.fourth{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("IMAGES/beachsand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    
}
.dd{
    display: flex;
     justify-content: space-evenly;
    
}
.dine{
    display: flex;
    justify-content: center;
    font-weight: 400px;
    font-size: 45px;
    padding: 30px;
}
.sea{
    height:480px;
    width:460px;
    padding:30px;
}

.at{
    font-size: 26px;
}
.hello{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}
.hello a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.drink{
    display: flex;
    align-items: center;
}
.dr{
    height:480px;
    width:460px;
    padding:20px;
    
}

.exp{
    font-size: 35px;
    
}
.gg{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
 
    
}
.gg a{
    color:black;
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px;
    gap: 30px;
    background: rgb(235, 235, 235);
}

.adb{
    font-size: 35px;
    
}
.hhh{
    padding: 23px;
}


@media screen and (min-width: 300px) and (max-width: 768px){
    .first{
        height: auto;
        padding: 30px;
    }
    .design {
        padding: 20px;
    }
    .new {
        font-size: 18px;
        margin-top: 15px;
    }
.relax{
    font-size:20px;
}
 .bb {
    display: flex;
    gap: 15px;
 }
  .cta-btn1, .cta-btn2 {
    width: 140px
  }
  .second{
    margin: 15px;
   gap: 15px;
  }
  .old, .ula{
    font-size: 21px;
  }
  .old{
    line-height: 1.0;
  }
  .oli{
    font-size:16px ;
  }
  .third{
    flex-wrap: wrap;
   gap:30px;
  }
  .image1:hover{
    transform: scale(1.0);
}
.dd, .drink{
    flex-wrap:wrap;
    
}
footer{
    flex-wrap: wrap;
}
.sea{
    height:280px;
    width:260px;
    padding:15px; 
}
.dr{
    height:280px;
    width: 400px;
    padding:10px;
    
   
     
}
.at, .exp{
    padding: 27px;
    font-size: 20px;
    text-align: center;
}
}