@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family:"Montserrat", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.3)), url("IMAGES/beach.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.relax{
color: white;
text-transform: uppercase;
font-size: 48px;

}
.new{
    color: white;
    font-size: 24px;
    /* padding-top: 10px; */
}
.design{
    padding: 80px;
    text-align: center;
}
button{
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   font-size: 20px;
   text-transform: uppercase;
   background-color: rgb(6, 70, 102);
   color: white;
   border: none;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* height: 200px;
padding: 120px; */

width: 50%;
margin: auto;
}
@media screen and (min-width: 300px) and (max-width: 768px){
    .first{
        padding:10px;
        height: 60vh;
    }
.relax{
    font-size:20px;
}
}
